@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');




* { margin:0 0; padding:0 0; box-sizing:border-box; }

:root {
  --mainColor: #2C353C;
  --mainContrast: #3D444A;
  --secondaryColor: #6A7E86;
  --brown: #A17B6C;
  --lightBlue: #B1C2CC;
  --tan: #EAE5D5;
  --offWhite: #FDFBF5;
  --line: 2px solid rgba(253, 251, 245, .3);
}


h1,
h2,
h3,
h4,
h5,
li {
  color: var(--offWhite);
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  letter-spacing: .01rem;
}

p {
  color: var(--offWhite);
  font-family: 'Rubik';
}




h1 {
  font-style: italic;
  font-size: 3.7rem;
  width: fit-content;
  letter-spacing: .1rem;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-width: 340px;
}



.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: var(--line);
}


.navbar ul {
  margin-left: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  gap: 4vw;
  font-size: 1.1rem;
  padding-right: 1rem;
}

.pageLink {
  color: var(--offWhite);
  transition: .3s ease-in-out;
  cursor: pointer;
  font-style: italic;
  z-index: 1;
  height: fit-content;
}

.pageLink:hover {
  color: var(--lightBlue);
  transition: .3s ease-in-out;
}


.main {
  background-color: var(--mainColor);
  background-image: url('./public/bg.png');
  /* overflow: hidden; */
  overflow: hidden;
}

.mainPage {
  /* display: grid;
  grid-template-columns: 45% 55%; */
  position: relative;
  padding-bottom: 10vh;
  min-height: 600px;
}

.illustration {
  width: 60%;
  bottom: 0;
  right: 0;
  /* height: 80vh; */
  height: 80%;
  min-height: 500px;
  background-image: url('./public/illustration.png');
  background-size: cover;
  position: absolute;
}




.mainText {
  position: relative;
  padding-left: 10vw;
  padding-bottom: 25vh;
  padding-top: 34vh;
  z-index: 1;
  height: 100%;
  max-width: 100%;
}




.mainText h3 {
  margin-top: 2vh;
  margin-bottom: 4vh;
  font-style: italic;

}

.getInTouch {
  border: var(--line);
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: .5s ease;
  color: var(--offWhite);
  font-family: 'Rubik';
}


.getInTouch:hover {
  background-color: var(--offWhite);
  color: var(--mainColor);
  transition: .5s ease;
  border: 1px solid var(--offWhite);
}

.resume {
  border: var(--line);
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: .5s ease;
  color: var(--offWhite);
  font-family: 'Rubik';
  text-decoration: none;
}


.resume:hover {
  background-color: var(--offWhite);
  color: var(--mainColor);
  transition: .5s ease;
  border: 1px solid var(--offWhite);
}




 .skills {
   display: grid;
   grid-template-columns: 50% 50%;
 }

 .skillsLeft {
  background-color: var(--mainContrast);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vw;
 }


 .skillImages {
   /* padding-top: 5vh; */
   display: grid;
   grid-template-columns: 50% 50%;
   width: 30vw;
   height: 30vw;
   min-height: 400px;
   min-width: 400px;
   column-gap: .5rem;
   row-gap: .5rem;
 }

 .skillImageBlock {
   width: 100%;
   height: 100%;
 }

 .skillImageBlock {
   line-height: 0;
 }

 .goodAt {
   background-color: var(--mainColor);
   padding: 15vh 5vw;
   position: relative;
 }

 .goodAt h1 {
   font-size: 2.9rem;
   padding-bottom: 5vh;
 }

 .boxes {
   width: 80%;
   max-width: 360px;
 }

 .skillBox {
   width: 100%;
   height: 100px;
   min-height: 100px;
   border: var(--line);
   display: grid;
   grid-template-columns: 30% 70%;
   position: relative;
   margin-bottom: 1rem;
 }

 .icon {
  margin: auto 0;
  display: flex;
  max-height: 80px;
  justify-content: center;
  align-items: center;
 }

 .iconBlock {
  width: 80px;
  height: 80px;
  max-height: 100%;
}



 .iconText {
   display: flex;
   align-items: center;
 }

 .iconText p {
   letter-spacing: .1rem;
 }

 .projects {
   background-color: var(--offWhite);
   padding: 15vh 10vw;
 }

 .projects h1 {
   color: var(--secondaryColor);
   font-size: 2.8rem;
   width: 100%;
   text-align: center;
 }

 .project {
   display: grid;
   grid-template-columns: 50% 50%;
   padding-top: 15vh;
   padding-bottom: 5vh;
 }

 .description {
   width: 70%;
 }

 .description h3 {
   color: var(--secondaryColor);
   font-size: 1.3rem;
   font-style: italic;
   padding-bottom: 3vh;
 }

 .description p {
   font-size: 1.2rem;
   color: var(--mainColor);
   padding-bottom: 3vh;
 }



.types {
  display: flex;
  margin-top: 8vh;
  max-width: 100vw;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;
}


 .type {
   /* border: var(--line); */
   width: fit-content;
   min-width: 9rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid rgb(61, 68, 74, .5);
   height: 32px;
 }

 .type h5 {
  color: var(--mainColor);
  text-align: center;
 }


 .changeImage {
   margin-top: 3vh;
   display: flex;
   width: 100%;
   justify-content: space-between;
 }



 @keyframes fadeIn {
   0% {opacity: 0}
   100% {opacity: 1}
 }



 .projectImage img {
   animation-name: fadeIn;
   animation-duration: .5s;
   animation-fill-mode: forwards;
   opacity: 0;
 }



 .changeImage ul {
  font-family: 'Rubik';
  font-weight: 800;
  cursor: pointer;
  width: 20%;
  text-align: right;
  transition: .3s ease-in-out;
}


.notSelected {
  color: var(--mainColor);
  transition: .1s ease-in-out;
}

.selected {
  transition: .1s ease-in-out;
  color: var(--secondaryColor);
}

.selected .slider {
  border-bottom: 1px solid var(--secondaryColor);
}

.notSelected .slider {
  border-bottom: 1px solid var(--mainColor);
}

.slider {
  width: 100%;
  transition: .2s ease-in-out;
}

.selected:hover .slider {
  margin-left: 50%;
  width: 50%;
  transition: .3s ease-in-out;
}

.notSelected:hover .slider {
  margin-left: 50%;
  width: 50%;
  transition: .3s ease-in-out;
}

.carouselNum {
  color: var(--mainColor);
}

.about {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--mainColor)
}






.aboutText {
  padding: 20vh 5vw;
  line-height: 1.5;
}

.aboutText h1 {
  font-size: 3.2rem;
  padding-bottom: 3vh;
}

.aboutText p {
  width: 75%;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

.favorites {
  padding: 1% 1%;
  width: 55%;
  min-width: 300px;
  border: 1px solid var(--secondaryColor);
  color: var(--lightBlue);
  font-family: 'Rubik';
}

.favorites div {
  width: 100%;
  padding-left: 3%;
}



.profileImage {
  width: 100%;
  height: 100%;
  position: relative;
}

.myTools {
  padding: 12vh 0;
  background-color: var(--lightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.myTools h1 {
  color: var(--mainColor)
}

.toolImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8vh 5vw;
  background-color: var(--offWhite);
}

.adobe {
  height: fit-content;
  width: 22vw;
}

.coffee {
  height: fit-content;
  width: 8vw;
}

.office {
  height: fit-content;
  width: 20vw;
}

.contactPage {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.contact {
  background-color: var(--mainContrast);
  position: relative;
  min-height: 500px;
}

.contactText {
  top: 10%;
  position: absolute;
  width: 100%;
  /* background-color: var(--mainColor);
  opacity: .5; */
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.workTogether {
  width: 100%;
  padding: 100px;
  text-align: center;
}

.workTogether a {
  text-decoration: none;
}

.workTogether h2 {
  font-family: 'Rubik';
  padding-bottom: 2rem;
}




.contactImage {
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 500px;
}

.contactText h1 {
  opacity: 1;
  font-size: 2.8rem;
  padding-bottom: 4vh;
  width: 100%;
}

.contactText a {
  color: var(--offWhite);
  font-family: 'Rubik';
  font-size: 1.3rem;
}

.socials {
  padding-top: 4vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: fit-content;

}

.socials a {
  margin-right: 1rem;
}

.formHolder {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  padding: 25% 12.5%;
  background-color: var(--mainContrast);
}

.contactForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: fadeIn .3s ease-in-out;
}

input {
  background-color: var(--mainContrast);
  font-family: 'Rubik';
  color: var(--offWhite);
  border: var(--line);
  width: 100%;
  padding: 3vh 1.5vw;
  font-size: 1.2rem;
  outline: none;
  margin-bottom: 1rem;
}

textarea {
  background-color: var(--mainContrast);
  font-family: 'Rubik';
  color: var(--offWhite);
  border: var(--line);
  width: 100%;
  padding: 3vh 1.5vw;
  font-size: 1.2rem;
  outline: none;
  margin-bottom: 1rem;
  resize: none;

}

::placeholder {
  color: var(--offWhite);
}

.bigInput {
  padding-bottom: 10vh;
}

.submitButton {
  width: fit-content;
  padding: 1.5vh 1.5vw;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.submitButton:hover {
  color: var(--mainColor);
  background-color: var(--offWhite);
  transition: .5s ease-in-out;
}

.footer {
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: 0;
  right: 0;
  display: grid;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 3vh 1rem;
}

.footer ul {
  list-style: none;
  border: none;
  display: flex;
  padding-top: 3vh;
  gap: 1rem;

}
.footer h4 {
  padding-top: 3vh;
  font-size: 1.1rem;
  font-style: italic;
}


.thanks {
  width: 100%;
  height: 100%;
}

.thanks h3 {
  font-style: none;
  font-style: italic;
  font-size: 2.8rem;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

.thanks p {
  padding-top: 5%;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

@keyframes slideUp {
  0% {opacity: 0; transform: translateY(10vh);}
  100% {opacity: 1; transform: translateY(0);}
}
.airplane {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
}

@media screen and (max-width: 1000px) {

  .navbar ul {
    justify-content: center;
    margin: 0 1rem;
  }

  .illustration {
    padding-top: 200px;
    width: 80%;
    min-height: 300px;
  }

  .mainText {
    padding-left: 2rem;
    padding-top: 50px;
  }
  .skills {
    grid-template-columns: 1fr;
  }

  .skillImages {
    min-height: 300px;
    min-width: 300px;
  }

  .skillBox {
    max-width: 100%;
  }

  .goodAt {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .description {
    width: 100%;
  }

  .types {
    margin-top: 2rem;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .aboutText {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .aboutText p {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  .aboutText h1 {
   margin: 0 auto;
  }

  .workTogether {
    width: unset;
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .workTogether h1 {
    font-size: 2rem;
  }

  .footer h4 {
    display: none;
  }


  .contactText {
    top: 10%;
  }

  .profileImage {
    min-height: 90vh;
  }

  .contactText {
    top: 30%;
  }

  .footer ul {
    margin: 0 auto;
  }
}

@media screen and (max-width: 580px) {

  .illustration {
    width: 100%;
    max-height: 300px;
  }

  .mainText {
    text-align: center;
    max-width: 100%;
    padding: 2rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .getInTouch {
    margin: 0 auto;
  }

  .goodAt h1 {
    max-width: 300px;
  }

  .contactText {
    top: 10%;
  }
}